= form_for @admin_photo, :html => { :multipart => true } do |f|
  - if @admin_photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_photo.errors.count, "error")} prohibited this admin_photo from being saved:"
      %ul
        - @admin_photo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :caption
    = f.text_field :caption
  .field
    = f.label :album
    = select("admin_photo", "album", Admin::Photo::ALBUM_NAMES, {:include_blank => false})
  .field
    = f.label :picture
    = f.file_field :picture
  .actions
    = f.submit 'Save'
