%h1 Available Photos

%table
  %tr
    %th Caption
    %th Album
    %th Thumbnail
    %th
    %th
    %th

  - @admin_photos.each do |admin_photo|
    %tr
      %td= admin_photo.caption
      %td= admin_photo.album.capitalize
      %td= link_to image_tag(admin_photo.picture.url(:thumb)), admin_photo.picture.url(:medium), :class => 'fancybox', :'data-pjax-ignore' => 'true', :title => admin_photo.caption, :rel => admin_photo.album
      %td= link_to 'Show', admin_photo
      %td= link_to 'Edit', edit_admin_photo_path(admin_photo)
      %td= link_to 'Destroy', admin_photo, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Photo', new_admin_photo_path
