.admin-show
  %p
    %b Caption:
    = @admin_photo.caption
  %p
    %b User:
    = @admin_photo.user.username
  %p
    %b Album:
    = @admin_photo.album
  %p
    %b Picture:
    = link_to image_tag(@admin_photo.picture(:thumb)), @admin_photo.picture(:medium), :class => 'fancybox',
              :'data-pjax-ignore' => 'true', :title => @admin_photo.caption, :rel => @admin_photo.album

= link_to 'Edit Picture', edit_admin_photo_path(@admin_photo), :class => 'styled centered'
= link_to 'Back to Index', admin_photos_path, :class => 'styled centered'
