%h1.item-header
  Video List

= link_to 'New Video', new_admin_video_path, :class => 'styled'

%table
  %tr
    %th Title
    %th Video
    %th Options

  - @admin_videos.each do |admin_video|
    %tr
      %td= admin_video.title
      %td= link_to image_tag(admin_video.thumbnail(:thumb)), admin_video.fancybox_url,
      :class => 'fancybox-video', :'data-pjax-ignore' => 'true', :title => admin_video.title, :rel => 'youtube_video'
      %td
        = link_to 'Show', admin_video, :class => 'styled'
        = link_to 'Edit', edit_admin_video_path(admin_video), :class => 'styled'
        = link_to 'Destroy', admin_video, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'styled'

%br

