%p#notice= notice
.admin-show
  %p
    %b Title:
    = @admin_video.title
  %p
    %b Video:
    = link_to image_tag(@admin_video.thumbnail(:thumb)), @admin_video.fancybox_url,
    :class => 'fancybox-video', :'data-pjax-ignore' => 'true', :title => @admin_video.title, :rel => 'youtube_video'

= link_to 'Edit Video', edit_admin_video_path(@admin_video), :class => 'styled centered'
= link_to 'Back to Index', admin_videos_path, :class => 'styled centered'
