%h1 Listing admin_blog_posts

%table
  %tr
    %th Title
    %th Article
    %th User
    %th
    %th
    %th

  - @admin_blog_posts.each do |admin_blog_post|
    %tr
      %td= admin_blog_post.title
      %td= admin_blog_post.article
      %td= admin_blog_post.user_id
      %td= link_to 'Show', admin_blog_post
      %td= link_to 'Edit', edit_admin_blog_post_path(admin_blog_post)
      %td= link_to 'Destroy', admin_blog_post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Blog post', new_admin_blog_post_path
