%h1.item-header
  News Entries

= link_to 'New Blog Post', new_admin_blog_post_path, :class => 'styled'

%table.admin
  %tr
    %th Title
    %th Article
    %th Options

  - @admin_blog_posts.each do |admin_blog_post|
    %tr
      %td.title
        = admin_blog_post.title
      %td.left-align
        = simple_format(admin_blog_post.article)
      %td
        = link_to 'Edit', edit_admin_blog_post_path(admin_blog_post), :class => 'styled'
        = link_to 'Destroy', admin_blog_post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'styled'
  = render :partial => 'admin/show_pagination', :locals => { :collection => @admin_blog_posts }

%br

