- if signed_in?
  .main-links.smaller
    = link_to 'Admin Panel', admin_path
    = link_to 'Photos', admin_photos_path
    = link_to 'Videos', admin_videos_path
    = link_to 'Blog Posts', admin_blog_posts_path
    = link_to 'Links', admin_links_path
    = link_to 'Sign Out', signout_path, 'data-pjax-ignore' => true