%header
  .title-area
    %h1= 'Iris McLean'
    %h2= 'the official site'
  %ul.main-links
    .triangle.left
    .triangle.right
    %li
      = link_to 'Home', home_path, :class => "#{"selected" if current_page?(['pages', 'home'])}"
    %li
      = link_to 'Biography', bio_path, :class => "#{"selected" if current_page?(['pages', 'bio'])}"
    %li
      = link_to 'Latest News', news_path, :class => "#{"selected" if current_page?(['pages', 'news'])}"
    %li
      = link_to 'Photos', photos_path, :class => "#{"selected" if current_page?(['pages', 'photos'], ['pages', 'gallery'])}"
    %li
      = link_to 'Videos', videos_path, :class => "#{"selected" if current_page?(['pages', 'videos'])}"
    %li
      = link_to 'Resume', resume_path, :class => "#{"selected" if current_page?(['pages', 'resume'])}"
    %li
      = link_to 'Links', links_path, :class => "#{"selected" if current_page?(['pages', 'links'])}"
    %li
      = link_to 'Contact Me', contact_path, :class => "#{"selected" if current_page?(['pages', 'contact'])}"

  = render 'layouts/admin_links'
