%header
  .title-area
    %h1= 'Iris McLean'
    %h2= 'the official site'
  %nav
    .main-links
      = link_to 'Home', home_path, :remote => true, :class => 'ajax_trigger'
      = link_to 'Bio', bio_path, :remote => true, :class => 'ajax_trigger'
      = link_to 'Latest News', news_path, :remote => true, :class => 'ajax_trigger'
      = link_to 'Photos', photos_path, :remote => true, :class => 'ajax_trigger'
      = link_to 'Videos', videos_path, :remote => true, :class => 'ajax_trigger'
      = link_to 'Resume', resume_path, :remote => true, :class => 'ajax_trigger'
      = link_to 'Links', links_path, :remote => true, :class => 'ajax_trigger'
